[2022-07-20 18:20] mithro opened #1 "Fix the naming of the primitives to be consistent with skywater-pdk format."
There is a spreadsheet @ [GF180MCU (GlobalFoundries 180nm PDK) -- Primitive Model Naming](https://docs.google.com/spreadsheets/d/1G88IhyqXGVu-BgH8hA-_N2YQnNiyPoPEqvXSOzmOaaY/edit#gid=1803291424) which is tracking what the new naming scheme should be.

[2022-07-20 18:24] mithro opened #2 "Get the foss-eda-tools.googlesource.com mirror happening"

[2022-07-20 23:56] mithro opened #3 "The KLayout DRC rule tests should be run using GitHub Actions"
The KLayout DRC rule tests found at https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/drc should be run using GitHub Actions.

[2022-07-20 23:58] mithro opened #4 "The KLayout LVS tests should be run using GitHub Actions"
The KLayout LVS tests found at https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/lvs should be run using GitHub Actions.

[2022-07-22 23:22] mithro opened #5 "Improve the top level spice file names under models"
The names of the top level spice files are currently;
[code]

The names `design` / `sm141064` / `smbb000149` don't really have useful meanings. I believe that @mkkassem has better names that should be used instead.

[2022-07-22 23:25] mithro commented on #5
I think @mkkassem was suggesting something like this?
 * `design` --> `gf180mcu.global_parameters`
 * `sm141064` --> `gf180mcu.common`
 * `smb000149` --> `gf180mcu.highvoltage`

@mkkassem - Can you document what these files should be called and then assign the issue to the right person to fix?

[2022-07-24 17:27] mithro opened #7 "Set up a GitHub Action to check xschem related files"
We have xschem related files in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/cells/xschem -- we should be checking that these work with CI in some way.

[2022-07-25 09:11] mohanad0mohamed opened #9 "Missing foundry provided files for DRC regression test"
## These files are:

- 0.0.DM000013_13_1P6M_11kA_MIMA_Gold_Bump.gds (Modified for regression)
- 0.0.DM000013_13_1P6M_30kA_MIMB_BALL.gds
- 0.0.DM000013_13_1P6M_6kA_MIMA_SOLDER_BUMP.gds
- 0.0.DM000013_13_1P6M_9kA_MIMB_WEDGE.gds

As soon as these files are added, GitHub Actions for DRC testing will pass successfully.

[2022-07-25 09:35] atorkmabrains commented on #5
@mithro I agree with the suggestion above. If @mkkassem approves, we could move forward.

[2022-07-25 09:38] atorkmabrains commented on #4
@mithro, @mohanad0mohamed is currently working on it.

[2022-07-26 09:52] mohanad0mohamed commented on #1
I have proposed some suggestion on naming in the spreadsheet as comments.
I'm not sure what names should be used with devices that still have "?" sign.

[2022-07-27 18:48] mithro commented on #4
We should probably use the KLayout distributed using PyPi for this.

[2022-07-27 18:49] mithro commented on #4
See comments at https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/8#discussion_r928295161 and https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/8#issuecomment-1197110147

[2022-07-27 18:51] mithro commented on #4
FYi - @proppy / @joamatab

[2022-07-28 03:10] atorkmabrains commented on #4
@mithro Klayout LVS doesn't work from Klayout Python package. All verification code in Klayout is strictly Ruby and their is not representation in Python.

[2022-07-28 03:28] proppy commented on #4
@atorkmabrains are you talking about the possibility of:
a/ implementing new LVS/DRC checks in python
b/ triggering existing LVS/DRC check (written in Ruby) from the PyPI klayout package.

while a/ is interesting my understanding is that only b/ would be required for this particular issue?

[2022-07-28 04:00] atorkmabrains commented on #4
Hi @proppy ,

For a, Klayout doesn't have python implementation for LVS/DRC. It's only based on Ruby. We would have implemented it in Python if there was one.

For b, I'm not sure if that's feasible and I don't think it is. The only way that we know triggers LVS/DRC run is by using the command line: Klayout -b .....

We have written a python script the prepare the correct command line options and

[2022-07-28 04:02] atorkmabrains commented on #4
@proppy Here is the link to the DRC/LVS scripts respectively:

- https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/drc/run_drc.py
- https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/lvs/run_lvs.py

[2022-07-28 06:43] proppy commented on #4
@atorkmabrains there is a new version of the klayout python package in the work (https://github.com/KLayout/klayout/issues/1082) that include the layout and the macro engine.

I gave it a try here: https://colab.research.google.com/gist/proppy/6956a38ce1a69c710719c7edb40377c6/klayout-playground.ipynb#scrollTo=yiyyIZYbYTSH but it looks like it doesn't include the ruby/lym interpreter nor the high l

[2022-07-28 07:00] atorkmabrains commented on #4
@proppy That's really nice. I didn't know that @klayoutmatthias was working on this. Seems really nice.
BTW Matthias has mentioned that their is no intention for him to support DRC using python:

https://www.klayout.de/forum/discussion/1402/support-drc-using-python

I think he might change his mind with the effort you guys are doing with him.

BTW, it's not a think interface as mentioned in the li

[2022-07-28 07:02] proppy commented on #4
That's slightly different in my opinion (i.e the a/ mentioned in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/4#issuecomment-1197612881), here we're only talking about b/ (launching existing ruby's DRC check from klayout python package).

[2022-07-28 07:13] atorkmabrains commented on #4
Ah, I see. that's what we do in run_drc.py and run_lvs.py

[2022-07-28 07:23] proppy commented on #4
Yes, exactly! And I think @mithro was saying in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/4#issuecomment-1197229342 that it would be nice to be able to use the PyPI for that instead of the full featured klayout binary.

[2022-07-28 19:28] klayoutmatthias commented on #4
Well .. I'm not refusing, but it's simply a double effort.

Point is: The DRC language is basically just syntactic sugar. Ruby does
not really play a role in standard DRC decks - i.e. such consisting only
of input, output and check statements. Only if you utilize conditionals,
loops or monkey-patch classes it becomes Ruby'ish.

Porting the thing to Python is not impossible. Basically Ruby/DRC is a

[2022-07-28 19:41] proppy commented on #4
@klayoutmatthias thanks for taking the time to lay out (no pun intended) your thoughts, I think having a standard DRC language would be a great step for the ecosystem and IIRC @RTimothyEdwards (from magic VLSI) suggested that the small DSL/expression based subset you demonstrated at FSiC could be a good foundation?

In this particular issue, we weren't really after re-writing DRC rules in Python b

[2022-07-28 20:35] klayoutmatthias commented on #4
Yes, I recall the discussion with Tim :)

I personally think integrating Ruby into a Python module (if this is what you mean) will be difficult. Basically Ruby is just another library to link against, but it takes control over the stack for implementing the garbage collector and I think interference cannot be avoided. However, my experiences date back to Ruby 1.8.

Matthias

[2022-08-02 17:38] #9 closed, assigned to mohanad0mohamed

[2022-08-03 15:34] mithro opened #13 "Improve the GitHub Actions to reduce significant duplication in workflow files"
Pull requests https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/12 and https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/11 added a whole bunch of GitHub Actions for checking various things.

The workflow files currently have large amount of duplicate in them. Instead we should be using "matrix" for this stuff. See the documentation at https://github.com/g

[2022-08-03 15:36] mithro opened #14 "Consider moving the SRAM test cases to a "ip_testcases" directory"
There are a bunch of SRAM files used as tests for the LVS and DRC checks found in #11 / #12 and under https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/drc/testing/sc_testcases

I'm wondering if they should be moved to a directory called something like "ip_testcases" instead?

[2022-08-03 15:41] mithro opened #15 "Make sure the DRC rules have unit tests as well as bigger integration tests"
It is general best practice to have lots of small units which only test one thing at a time. At the moment, the testing in #11 are more like integration tests.

The testing for the DRC rules should look like this -- for each DRC rule, there should be a directory which contains;
 * A human readable description of the rule
 * A set of GDS files which demonstrate different violations which should be

[2022-08-03 15:42] #3 closed, assigned to mohanad0mohamed

[2022-08-03 15:44] #4 closed, assigned to mohanad0mohamed

[2022-08-03 16:36] mithro commented on #13
@umarcor - Can you help the @mabrains team understand how to do this?

[2022-08-04 10:45] mohanad0mohamed commented on #13
@mithro I think this may not work. From GitHub themselves in https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs are saying ```you can use a matrix strategy to test your code in multiple versions of a language or on multiple operating systems```.
Also, running multiple DRC/LVS checks in the same job in parallel may crash due to the capability of GitHub Actions hosted runners

[2022-08-05 10:29] umarcor commented on #13
@mohanad0mohamed the matrix does not run multiple tasks on the same job, it generates multiple jobs in parallel. See #18.

[2022-08-07 07:46] mohanad0mohamed commented on #13
@umarcor I'm amazed how "matrix" removed all duplicated jobs!
Now I understand how it works. Many thanks.

[2022-08-07 09:09] mohanad0mohamed commented on #5
@mithro Should I start to fix the issue with @mkkassem suggestions?

[2022-08-07 17:21] atorkmabrains commented on #15
@mithro The DRC tests are unit tests for each rule. Unfortunately, it's hard to isolate each rule as the DRc runs takes long time. All tests are integrated one GDS files and we could tell which rule had missed errors or false positive violations. There some parts of the regression system that are not integrated yet. @mohanad0mohamed will integrate them soon that detects each rule on its own. But i

[2022-08-08 12:11] mohanad0mohamed opened #19 "Missing models testing files"
The files that are used to test model cards for ngspice/Xyce are missing. See:
[ngspice_testing_files.txt](https://github.com/google/gf180mcu-pdk/files/9281279/ngspice_testing_files.txt)
[Xyce_testing_files.txt](https://github.com/google/gf180mcu-pdk/files/9281288/Xyce_testing_files.txt)

[2022-08-10 00:21] mithro opened #21 "Shouldn't use `os.system` in Python scripts"
## Expected Behavior

You shouldn't use [`os.system`](https://docs.python.org/3/library/os.html#os.system) in Python scripts.

Examples;

Should use python internal functionality;

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/2e2eb4ad16e9f26ae80f7b0cad70dfd9a10da177/rules/klayout/lvs/testing/run_sc_regression.py#L105

https://github.com/google/globalfoundries-pdk-libs-gf1

[2022-08-10 00:27] mithro opened #22 "Scripts shouldn't use `time.sleep`"
## Expected Behavior

Scripts shouldn't use [`time.sleep`](https://docs.python.org/3/library/time.html?highlight=time%20sleep#time.sleep) to wait for things.

Examples @

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/2e2eb4ad16e9f26ae80f7b0cad70dfd9a10da177/rules/klayout/lvs/testing/run_sc_regression.py#L210

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_p

[2022-08-10 00:29] mithro commented on #21
https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/2e2eb4ad16e9f26ae80f7b0cad70dfd9a10da177/rules/klayout/lvs/testing/run_sc_regression.py#L226

Should probably use https://docs.python.org/3/library/shutil.html?highlight=shutil#shutil.move or https://docs.python.org/3/library/os.html#os.rename or https://docs.python.org/3/library/os.html#os.replace

[2022-08-10 00:33] #14 closed, assigned to mohanad0mohamed

[2022-08-10 01:04] mithro opened #23 "Merging #17 broke the CI"
@mohanad0mohamed - Looks like merging this pull request broke the CI - see https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/actions - can you please investigate.

_Originally posted by @mithro in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/17#issuecomment-1210037571_

[2022-08-10 08:23] atorkmabrains commented on #21
@mohanad0mohamed Could you please take care of this one soon?

[2022-08-10 08:25] atorkmabrains commented on #22
@mohanad0mohamed Could you please give this one a priority.

[2022-08-10 18:00] mithro commented on #15
We should split the GDS file apart so that each test has multiple small GDS files demonstrating one thing at a time.

[2022-08-10 18:20] atorkmabrains opened #30 "Create a custom image to use for our CI testing"
## Need to have a custom ubuntu image to avoid the need to re-install klayout version 0.27.8 every time.

@umarcor Is is possible to help us and create a custom image that we could use it for our CI instead of installing klayout every time?

Actually, you could install all the tools needed using the script here:
https://github.com/mabrains/OpenAnalogDesign/blob/main/docker_build/Makefile

Also, yo

[2022-08-10 18:23] umarcor commented on #30
There is an image from hdl/containers available already. Alternatively, we could build one in this repo and use the built-in container registry. Nevertheless, let's deal with #29, #28 and #18 first, since #18 will make it easier to implement this issue.

[2022-08-10 18:25] atorkmabrains commented on #15
@mithro As we have discussed, we will split the GDS testing file to smaller test units per rule to be able to parallelize the run.

[2022-08-10 18:33] atorkmabrains commented on #30
@umarcor I already did that here: https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/27

[2022-08-10 18:33] atorkmabrains commented on #30
No need for #29

[2022-08-10 18:35] atorkmabrains commented on #30
Could we also wait for #18 and #28 as we will split the test cases further as mentioned in #15 ?

[2022-08-10 18:36] atorkmabrains commented on #30
@umarcor I think having this image would be really helpful. I don't know how to do it. It takes about 7 mins just to install klayout and there will be other tools.

[2022-08-10 18:37] atorkmabrains commented on #30
@umarcor Could you please help with creating that image for us and we could just update the CI after merging #27 ?

[2022-08-10 19:56] mithro opened #31 "Add Magic DRC rules"
## Expected Behavior

The repository has DRC rules for both KLayout and Magic. This allows us to verify them against each other and less likely to miss things.

This should also run on CI -- see some previous work for SKY130 @ https://github.com/google/skywater-pdk-actions/tree/main/run-drc-for-cell-gds-using-magic

## Actual Behavior

Currently only KLayout is supported.

[2022-08-10 20:02] mithro commented on #31
@mkkassem - What is the plan here?

[2022-08-10 20:09] #23 closed, assigned to atorkmabrains, mohanad0mohamed

[2022-08-12 18:52] #13 closed, assigned to nobody

[2022-08-20 16:11] mithro opened #52 "Convert xlsx files into an open file format (like ods or csv)"
The pull request at https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/20 added a whole bunch of data files in `xlsx` format. This format is hard to work with using only open source tooling.

We should convert the files to;
 - `.ods` if they require formatting and other information to be preserved.
 - `.csv` if they are just raw data points or similar.

[2022-08-20 16:21] mithro opened #53 "Apply python linting and formatting rules to this repository"
A lot of the Python scripts are not complying with standard python formatting rules. We should enable tools which check the files are complaint.

Some tools which we should look at are;
 - `pep8`
 - `black`
 - `pylint`
 - Something which checks for trailing whitespace.
 - Something which checks for license headers.

Setting these up can be showing by looking at the F4PGA repositories.

[2022-08-20 16:21] mithro commented on #53
@umarcor - Can you help here?

[2022-08-20 20:37] #19 closed, assigned to mohanad0mohamed

[2022-08-20 20:37] #22 closed, assigned to mohanad0mohamed

[2022-08-21 04:40] atorkmabrains opened #56 "Optimizing klayout DRC/LVS runs."
We have seen that klayout DRC/LVS runs slow with Caravel layout. There is a need to optimize the DRC code to make it run faster and consume less memory.

[2022-08-21 04:46] atorkmabrains commented on #53
@mohanad0mohamed Could you please take a look here?

[2022-08-21 04:49] atorkmabrains commented on #52
@mithro These files were provided by the foundry that holds the measurement data. We use CSV for all other tasks, but anything that comes from the foundry I treat as golden and I don't touch it. What's your recommendation here?

[2022-09-08 01:50] proppy opened #57 "missing files in cells/ ?"
https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/cells currently only seem to contains klayout and xschem pcells.

In comparison the sky130 repo has a lot more:
https://github.com/google/skywater-pdk-libs-sky130_fd_pr/tree/main/cells
[code]

should we have the equivalent for gf180mcu?

[2022-09-08 01:51] QuantamHD commented on #57
@atorkmabrains

[2022-09-09 15:41] atorkmabrains commented on #57
@QuantamHD We didn't split the model files. We kept it as is. It's better for the simulator. Not sure what is the request here.

[2022-09-09 16:25] mithro commented on #57
@atorkmabrains - We should prioritize humans and maintenance not software.

[2022-09-09 18:42] atorkmabrains commented on #57
@mithro Do you want us to split the files?

[2022-09-14 07:45] proppy commented on #1
reopening since there are some outstanding PRs

[2022-10-07 15:11] lhrodovalho opened #58 "Mismatch simulations run as default"
## Expected Behavior

Typical simulations using the spice header
.include "../../../gf180mcuC/libs.tech/ngspice/design.ngspice"
.lib "../../../gf180mcuC/libs.tech/ngspice/sm141064.ngspice" typical

should, as default, result in the same results each time the simulation is run.

## Actual Behavior

It uses mismatch parameters, so the simulation has random results (such as offset)

## Steps to Repro

[2022-10-07 17:29] QuantamHD commented on #58
Hi @lhrodovalho,

I'm not an expert on the simulation params. Do you know what we could do to fix this, or what might be causing the issue?

[2022-10-07 17:58] lhrodovalho commented on #58
Hi @QuantamHD

The problem is the design.ngspice file. The designer must include it alongside with the other lib files in the simulation testbench, as long as I know. It should be set to zero as default, not to one. Otherwise, the designer must override it in the testbench after including it. The sky130 open PDK mismatch param must be set outside the testbench. I didn't know this for GF180, becaus

[2022-10-09 10:39] christoph-weiser opened #59 "Resistor Model issue"
## Expected Behavior

ppolyf_u_2k_6p0 has a sheet resistance of 2k/square.

## Actual Behavior

The resistance is much lower than this (68 ohm).
This is also true for the other ppolyf resistors. Also the modelling of the parasitic capacitance
is not compatible with ngspice.

## Steps to Reproduce the Problem

[code]

[2022-10-09 22:01] mithro commented on #59
@atorkmabrains / @mkkassem - Thoughts?

[2022-10-10 07:55] atorkmabrains commented on #59
Hi @mithro and @christoph-weiser,

We have reported this back to the foundry and we are aware that some of the models are not matching the actual measurement from foundry.

Please check the following document:
https://docs.google.com/spreadsheets/d/1xxxg_VzZWJ1NNysSMcOVzyUin7M2dvtb_E7X-5WQKJ0/edit?usp=sharing

[2022-10-10 08:10] atorkmabrains commented on #59
@mithro and @christoph-weiser We will update the resistors models in ng-spice to make sure that they match.

[2022-10-14 13:51] proppy opened #60 "klayout deck location"
Is this repo the right place for the DRC and LVS rules?

I find it hard to discover and feels more general than closely tied to the "primitive cells".

/cc @mithro @QuantamHD

[2022-10-18 08:33] atorkmabrains commented on #59
@mithro and @christoph-weiser Please find the fix for this issue here: https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/61

[2022-10-18 19:27] christoph-weiser commented on #59
@atorkmabrains thanks for the update. I can confirm that the resistance is now corrected.

I'm however still wondering about the modelling of the substrate capacitance.

[code]
From the ngspice manual i cannot find cox being a valid input to the semiconductor capacitor model or any of the other "c" models for that matter.

[2022-10-18 19:56] atorkmabrains commented on #59
@christoph-weiser There is a capacitance associated with the resistor model in the subcircuit definition for the resistor. I don't know if they have taken the substrate capacitance the way you mentioned. I also didn't quantify that against the silicon R/C data. We are planning to do that later.

[2022-11-04 00:47] proppy opened #64 "LVS/DRC tests never seems to fails"
## Expected Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/drc/testing/run_regression.py and https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/lvs/testing/run_regression.py should populate an error status that represents the aggregated failure and success state of the test cases.

## Actual Behavior

https

[2022-11-04 00:50] proppy opened #65 "drc/testing/README should document rules coverage"
## Expected Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/drc/testing README should describe each of the tests cases and the rules they cover.

## Actual Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/drc/testing assume developers/contributors are familiar with the naming scheme of the direct

[2022-11-04 00:52] proppy commented on #64
ideally we would have a synthetic PR that demonstrate that the current regression CI setup fails when an pcell/gds is submitted.

[2022-11-04 17:45] atorkmabrains commented on #64
@proppy I'm not sure what you want to do here. Make a PR that would fail CI?

[2022-11-04 17:51] proppy commented on #64
@atorkmabrains yes, I'm trying to assess if the python scripts in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/drc/testing/ can ever exit with a status `!= 0`. From reviewing the different code paths that doesn't seems to be the case.

/cc @QuantamHD

[2022-11-04 17:52] mithro commented on #64
Yes please, send a pull request with a DRC error in it to demonstrate the automation would detect the problem.

[2022-11-04 18:05] atorkmabrains commented on #64
@proppy and @mithro we had discussed this more than 3 months ago and we had a pull request to make sure that is the case that was not integrated in the repo:

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/51

[2022-11-04 18:06] atorkmabrains commented on #64
@mithro and @proppy Could you please integrate all the pending PRs before evaluation?

[2022-11-04 18:11] atorkmabrains commented on #64
@mithro the main branch here still uses the original device names. We have stopped working on fixes until you approve those in. I urge you to give me maintainer access to straighten the PDK out for proper usage??

[2022-11-07 15:29] proppy commented on #64
@atorkmabrains commented in #51

[2022-11-07 20:26] mkkassem commented on #60
@proppy I placed them initially. I am thinking to move them under ./tech .. see below example for magic and netgen

https://github.com/RTimothyEdwards/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/open_pdks/tech

[2022-11-07 20:48] mkkassem commented on #64
@QuantamHD @proppy should we close this one and point to #51 ?

[2022-11-07 22:50] mithro commented on #60
I think @proppy was suggesting they might make more sense in the https://github.com/google/gf180mcu-pdk repo?

[2022-11-08 00:08] mkkassem commented on #60
@mithro @proppy that actually seems a better fit if what you mean is -  https://github.com/google/gf180mcu-pdk/tech

[2022-11-08 16:23] mithro commented on #60
Yeah, that seems reasonable?

[2022-11-09 00:22] proppy opened #69 "models/{ngspice,xyce}/testing/README: should document how to interpret simulation result"
## Expected Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/models/ngspice/testing and https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/models/xyce/testing READMEs should document how to interpret simulation result.

## Actual Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/models/ngspice/testing

[2022-11-09 00:27] proppy opened #70 "cells/klayout/pymacros/README: should document how to use pcells"
## Expected Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/cells/klayout/pymacros README should document how to generate gds using klayout and how to regenerate the tests in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/cells/klayout/pymacros/testing.

## Actual Behavior

https://github.com/google/globalfoundries-pdk-libs-gf180mc

[2022-11-09 10:30] atorkmabrains commented on #65
@proppy The test coverage are listed in the tracking sheet:
https://docs.google.com/spreadsheets/d/1xxxg_VzZWJ1NNysSMcOVzyUin7M2dvtb_E7X-5WQKJ0/edit?usp=sharing

All rules unit tests are found in the GDS files in:
https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/drc/testing/testcases

Please refer to the test patterns documentation in internal google git

[2022-11-09 10:49] atorkmabrains commented on #65
@proppy BTW, we already have this documented in the testing DRC:
https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/drc/testing/README.md#regression-outputs

cc @mkkassem

[2022-11-09 10:55] atorkmabrains commented on #65
@proppy Please check the updated version of the documentation. I think that should be better.

https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/drc/testing/README.md

[2022-11-09 10:58] proppy commented on #65
@atorkmabrains is there a way to get the mapping between the GDS files in `testing` and the actual rules being covered?

[2022-11-09 11:00] proppy commented on #65
Alternatively is there a way to make the tracking spreadsheet you referenced public and link it from the README?

/cc @QuantamHD and @mithro

[2022-11-09 11:08] atorkmabrains commented on #65
@proppy Yes, please read the section as mentioned above: https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/rules/klayout/drc/testing/README.md#regression-outputs

[2022-11-09 11:09] atorkmabrains commented on #65
@proppy Namely this file: `final_detailed_report.csv`

[2022-11-09 11:09] atorkmabrains commented on #65
cc @mkkassem

[2022-11-09 12:18] proppy commented on #65
@atorkmabrains Thanks for the instructions, I was able to verify the coverage of the rules for the `Manual_testcases.gds` that @QuantamHD was initially asking about.

See the following notebook:
https://colab.research.google.com/gist/proppy/23d03ac768d85db7513d3ec033fc9af5/gf180mcu-klayout-playground.ipynb#scrollTo=vT0g7eE9ISdG

![image](https://user-images.githubusercontent.com/5268/200827695-e78

[2022-11-10 09:41] proppy commented on #64
We could update #51 description to mention that it "Closes #64" (see https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-11-10 17:44] atorkmabrains commented on #69
Hi @proppy and @mkkassem Please check the documentation in here:
https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/models/ngspice/testing/README.md

[2022-11-10 17:57] atorkmabrains commented on #69
@proppy and @mkkassem Changes in the documentation has been finalized.

[2022-11-10 18:17] atorkmabrains commented on #70
@proppy and @mkkassem

Please check the usage in this document:
https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/cells/klayout/pymacros/README.md

[2022-11-10 18:30] atorkmabrains commented on #70
@proppy About regression, please find more information here:
https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/cells/klayout/pymacros/testing/README.md

[2022-11-10 18:38] atorkmabrains commented on #65
@proppy Yes, all unit tests for each rule has a bunch of pass test cases, where the DRC for that rule shouldn't highlight and a bunch of fail test cases, where the DRC should highlight and we make sure that locations where it supposed to highlight it highlights and where it supposed not to highlight it doesn't highlight. If the DRC highlight in pass test case, that is false positive test case, and

[2022-11-10 18:45] atorkmabrains commented on #65
cc @mkkassem

[2022-11-10 21:49] atorkmabrains commented on #69
https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/models/xyce/testing/README.md

[2022-11-11 02:16] proppy commented on #65
Is `Manual_testcases.gds` the only GDS "unit tests" testcase that fit with this definition? If yes, it seems that it only cover a portion of the rules (28) per https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/65#issuecomment-1308668462.

[2022-11-11 02:34] proppy commented on #64
@mkkassem @atorkmabrains I think you can easily create a separate pull request for the drc changes this way:
[code]
and do something similar that capture the LVS changes
[code]

[2022-11-11 02:38] proppy commented on #70
@mkkassem @atorkmabrains I think you can easily create a separate pull request for the pcell changes this way:
[code]

[2022-11-11 02:39] proppy commented on #69
@mkkassem @atorkmabrains I think you can easily create a separate pull request for the models changes this way:
[code]

[2022-11-11 05:33] atorkmabrains commented on #65
@proppy check this: rules/klayout/drc/testing/testcases/README.md

Unit tests are covered by all files in the testcases folder. Manual testcases file is just a portion of the tests.

[2022-11-11 06:08] atorkmabrains commented on #70
- [ ] @proppy I have discussed that with @mithro before. That can't be done. Primitive renaming is a lateral change that affects everything and if you take one part and leave the other parts of the PDK unchanged, it will break the PDK. And there is another issue, doing PR will not work as well as the amount of changes are massive. And github doesn't allow that. I have shown this to @mithro and @mk

[2022-11-11 06:08] atorkmabrains commented on #69
@proppy I have discussed that with @mithro before. That can't be done. Primitive renaming is a lateral change that affects everything and if you take one part and leave the other parts of the PDK unchanged, it will break the PDK. And there is another issue, doing PR will not work as well as the amount of changes are massive. And github doesn't allow that. I have shown this to @mithro and @mkkassem

[2022-11-11 06:08] atorkmabrains commented on #64
@proppy I have discussed that with @mithro before. That can't be done. Primitive renaming is a lateral change that affects everything and if you take one part and leave the other parts of the PDK unchanged, it will break the PDK. And there is another issue, doing PR will not work as well as the amount of changes are massive. And github doesn't allow that. I have shown this to @mithro and @mkkassem

[2022-11-11 06:09] atorkmabrains commented on #65
@proppy I have discussed that with @mithro before. That can't be done. Primitive renaming is a lateral change that affects everything and if you take one part and leave the other parts of the PDK unchanged, it will break the PDK. And there is another issue, doing PR will not work as well as the amount of changes are massive. And github doesn't allow that. I have shown this to @mithro and @mkkassem

[2022-11-11 06:10] proppy commented on #69
@atorkmabrains I'm confused, I don't think the README changes to the `models/` directory that we're discussing here are related to the cell renaming changes? So they should be PR-able and mergeable separatly.

[2022-11-11 06:12] atorkmabrains commented on #69
@proppy The documentation will not be aligned with what you have in this repo. Even if we only take readme changes, if you use it as is it will be broken.

[2022-11-11 06:14] atorkmabrains commented on #69
@proppy Also, looking at the commands above, this will take everything in models folder including the renaming part and most likely github PR will not allow it.

[2022-11-11 06:19] proppy commented on #69
The renaming changes don't seems to affect the models, ex: https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/48/files, so if you were checking-in the models change that include rename + docs in this PR, it wouldn't be broken, it would just be inconsistent with the rest of the PR until the other PR gets merged (simarly if you merge the standalone rename PRs first, it would also

[2022-11-11 06:20] proppy commented on #69
What's important for those change is that we're able to run the tests for a given PR, so you need to merge the test either before (or with) the rename.

[2022-11-11 06:52] proppy commented on #65
Yes, but other tests listed in the updated [README](https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/main/rules/klayout/drc/testing/testcases) are labelled as "foundry tests", not "unit tests".

Do they also follow the rules that you mentioned earlier?

If either case, can we make this explicit in the README?

[2022-11-11 06:57] proppy commented on #69
Basically if you:
1. take the instruction in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/69#issuecomment-1311157859
2. force push to https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/33 branches (https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/primitives_names_part2)
3. mark it as fixing this issue

That should be enough to

[2022-11-11 07:00] proppy commented on #70
I think that if you:
1. take the instruction in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/70#issuecomment-1311156971
2. force push to https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pull/32 branches (https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/tree/primitives_names_part1)
3. mark it as fixing this issue

That should be enough

[2022-11-11 07:04] proppy commented on #64
For DRC:
The renaming changes don't seems to affect the drc checks/rules (I couldn't find any drc renaming changes in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/pulls.

So you should be able to following the first set of instruction in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/64#issuecomment-1311154847 to submit a PR that only include the DRC

[2022-11-11 07:24] proppy commented on #64
For LVS, the renaming changes _do_ affect the testcases, so I think the approach we want to follow here is a slighty revised version of what I suggested earlier:
[code]
And then we should be able to rebase the opened renaming PRs on top of this change, directly from the github UI (as they wouldn't be conflicting) and be able to exercise the test suite to review them.

[2022-11-11 12:53] atorkmabrains commented on #69
@proppy the renaming of the primitives is split over 18 PRs due to it's sheer amount of changes. The PR that you are referring to is just one out of 18. Please check with @mithro I have discussed this with him about 4 months ago.

[2022-11-11 12:56] atorkmabrains commented on #70
@proppy I have all updates made in mabrains branch. I advise you to just replicate what you have here with what's in Mabrains.

[2022-11-11 13:01] atorkmabrains commented on #65
Yes, Foundry tests are unit tests per rule

[2022-11-11 13:22] proppy commented on #70
@atorkmabrains so you'd prefer me to do the changes highlighted in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/70#issuecomment-1311156971 and https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/70#issuecomment-1311302640 rather than giving it a go? (just checking if I interepreted correctly your last comment)

[2022-11-11 13:25] proppy commented on #69
@atorkmabrains, yes but that particular PR (#33) should be revieweable/mergeable independently of the remaining 17 as long we integrate it with the rest of the `models` change as shown in https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/69#issuecomment-1311157859 and https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/69#issuecomment-1311300818.

[2022-11-11 13:30] atorkmabrains commented on #70
@proppy My advise is basically to replace what you have here with what's in Mabrains fork. And after that let review one by one. If there are any other changes required, we could handle them one by one. This is just to start with a clean slate. If you have doubts in my proposal, please go ahead and check the diff against what's in Mabrains. I'm not responsible of any issue if you didn't update to

[2022-11-11 13:46] proppy commented on #70
I'd prefer for us to work with updating the existing pull request as I suggested: swapping the ownership of repo is not really desireable as we'd loose all the history of our conversation and get into funky redirections.

@mkk asked me to spell out the instructions to update the repo, on each issues (ex: https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/issues/70#issuecomment-13113

[2022-11-11 14:33] atorkmabrains commented on #70
@proppy Please do whatever you need at your end. But make sure that at the end that you match what I have on Mabrains side.

I believe you misunderstood me btw, what I'm saying is that you take what I have and push it to Google repo. Once that's done we could start adding PRs on Google side.

Please try to do that at your end.

[2022-11-11 14:58] proppy commented on #70
The two repository don't really have the same granularity of changes:
- if you look at https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/commits/main there are mostly merge commit coming directly from PRs.
- if you look at https://github.com/mabrains/globalfoundries-pdk-libs-gf180mcu_fd_pr/commits/main there is a lot of incremental changes not linked to any PRs / issues.

While the

[2022-11-21 20:14] egorxe opened #76 "5V devices extracted by Klayout LVS should be consistent with SPICE & xschem"
Currently Klayout LVS script extracts pmos_5p0 and nmos_5p0 models for 5V transistors (see [here](https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/74e4ec59b55bcf5be2f153abff8519d15ebe21fa/rules/klayout/lvs/gf180mcu.lvs#L1302) for example). This is inconsistent with SPICE deck which uses *mos_6p0 for both 5V and 6V transistors. Probably LVS script should be changed a bit to ex

[2022-11-21 20:23] mithro commented on #76
@mkkassem & @atorkmabrains - Can you look into this?

[2022-11-22 03:54] growly opened #77 "Is there a layer map file?"
I need a straightforward mapping of layer names to GDS types/subtypes. I believe this information is captured by various tool configuration files, like `gf180mcu.lyp` for klayout, but it would be helpful to have the source in order to produce another tool-specific configuration file instead.

For sky130 such a file was available in non-public versions, so I'm curious if there's a similar situation

[2022-11-22 17:03] mithro commented on #77
@atorkmabrains / @mkkassem

[2022-11-22 17:04] mithro commented on #77
There was also the [SKY130 (SkyWater PDK) -- Layer (GDS-II / Magic / Calibre / etc) Information spreadsheet for SKY130](https://docs.google.com/spreadsheets/d/1oL6ldkQdLu-4FEQE0lX6BcgbqzYfNnd1XA8vERe0vpE/edit#gid=459375686).

[2022-11-22 17:07] atorkmabrains commented on #77
@growly Please find it here:
https://github.com/google/globalfoundries-pdk-libs-gf180mcu_fd_pr/blob/main/tech/klayout/gf180mcu.lyp

cc @mithro

[2022-11-22 17:33] atorkmabrains commented on #76
@egorxe That's how the foundry made it. Not sure why GF decided to do that. But there is a different marker layer for the 5V devices. Please find the details of the Devices in the truth table:
https://gf180mcu-pdk.readthedocs.io/en/latest/physical_verification/design_manual/drm_04_4.html

Bascially, we followed the foundry recommendation in how it's done.

[2022-11-22 17:48] egorxe commented on #76
@atorkmabrains Layers are different between 3.3V and 5/6V devices (Dualgate), but they are the same between 5V and 6V, only channel length is different. Anyway currently there is no *mos_5p0 models in SPICE deck, so it is impossible to perform LVS against known good SPICE netlist checked in simulation without netlist manipulations. So in my opinion either LVS scripts should be changed or *mos_5p0

[2022-11-22 17:55] mithro commented on #76
I think I agree with @egorxe that

[2022-11-22 19:16] atorkmabrains commented on #76
@mithro and @egorxe I need to review few things and get back to you.

[2022-11-22 19:43] egorxe commented on #76
I would also like to note that even with any of changes suggested above, KLayout LVS still will not pass out of the box. KLayout extracts devices as SPICE models, but transistors in netlists from schematics are usually expressed as subcircuits. Subcircuits are translated into comprehensive models inside SPICE library (such as sm141064.ngspice) which can't be parsed by KLayout.

To pass KLayout LVS

[2022-11-22 21:32] mithro commented on #77
@atorkmabrains - @growly mentioned he had found the `gf180mcu.lyp` file but was looking for something a bit easier to process.

[2022-11-22 23:03] mithro commented on #76
@proppy - You where looking at LVS recently.

[2022-11-23 00:38] growly commented on #77
Yes I was hoping for a simpler format, such as the source of whatever produced the `.lyp` in the first place (a spreadsheet would be nice). However I could extract it from the `gf180mcu.lyp` file or the magic file, if someone could please clarify what this means?

1. ` <source>1/222@1</source>`
1. `<source>Poly2 30/0@1</source>`

Example (1) doesn't have a layer name?

The numbers are layer/dataty

[2022-11-23 06:16] atorkmabrains commented on #77
@growly I'm sorry misread what you need. Here is a CSV file that is used for documentation. You could use pandas to read this file in Python for example:

https://github.com/google/gf180mcu-pdk/blob/ff2a6056a2e69eed4da7a13c7a050cdbde6b7b0c/docs/physical_verification/design_manual/tables_clear/06_Drawn_layer10.csv

[2022-11-23 06:21] atorkmabrains commented on #76
@egorxe There is an option I believe in xschem that generate an "lvs" net list rather than simulation net list as I remember. BTW, it's an industry standard to have different net lists for different purposes.

[2022-11-23 09:07] egorxe commented on #76
The only difference between "LVS" and "simulation" netlists in xschem is top level subcircuit declaration and some comments. And it's definitely not an industry standard to change netlists for different purposes by hand or to write custom scripts for each user. This is ineffective and error prone.

The option in run_lvs.py for auto conversion of xschem netlists into KLayout LVS compatible format w

[2022-11-23 10:14] growly commented on #77
Great, thank you!

[2022-11-23 10:14] #77 closed, assigned to nobody

[2022-11-23 10:21] atorkmabrains commented on #76
@egorxe I never said that you need to do it by hand or custom script in xschem. Unfortunately, I just realized that xschem doesn't do that out of the box. But it should.

I have to disagree with you on industry standard. It is the industry to have different netlists based on usage from the schematic entry tool directly. Please refer to CDF manual in cadence virtuoso. There is always what is called

[2022-11-23 10:38] egorxe commented on #76
@atorkmabrains I'm accustomed with Cadence and Mentor tools, thank you. And I'm not arguing with the idea of separate netlists. But xschem is not Virtuoso and KLayout (or Magic) is not Calibre. What I'm trying to say is that there should be documented and/or scripted way to pass LVS with current versions of open source EDA tools.

[2022-11-23 10:49] atorkmabrains commented on #76
@egorxe There is, we already have done a video tutorial for that. But it's not published till now.

Mabrains is trying to get the following tools to a state very close to the commercial custom design tools. (Side note: I worked for Mentor for almost 9 years on custom design tools and verification tools):
- Xschem
- Klayout

We don't focus on any other tools for now as Mabrains. We actually have ev

[2022-11-23 11:10] atorkmabrains commented on #76
@egorxe Take a look at our PLL design here:

https://github.com/mabrains/PLL_design

[2022-11-23 12:24] atorkmabrains commented on #76
@egorxe As I told you, there is a way to create a netlist that is LVS compatible in xschem directly. Here is how according to Stephan reply:

The first option seems already implemented. The Xschem SImulation menu has the entry "use spiceprefix attribute". All devices that use this attribute (for example all sky130 mosfets) will be  netlisted as X-subcircuits if the spiceprefix (usually set to 'X')

[2022-11-23 12:26] atorkmabrains commented on #76
https://github.com/StefanSchippers
Cc @stefanschippers

[2022-11-23 14:08] egorxe commented on #76
Great!

Thanks, this seems to be it. I failed to actually test this way cause if I try to generate SPICE netlist in xschem without this "Simulation-Use spiceprefix attribute" option in menu, this check magically restores itself. But this is xschem, not LVS issue anyway. I hope this procedure will be documented in your video and text documentation.

@atorkmabrains Problem described in issue name st

[2022-11-23 14:11] atorkmabrains commented on #76
@egorxe This is question to the foundry. We actually have sent that question to the foundry and didn't get a response yet. I'm not sure why they did that either. We fundamentally followed the foundry.

[2022-11-23 14:24] egorxe commented on #76
@atorkmabrains Then I suggest to keep this issue open until *mos_5p0 devices are added into SPICE deck and xschem. They can be just aliases for *mos_6p0. I've changed this issue name a bit to reflect it.

[2022-11-29 06:35] proppy opened #79 "consider using a test framework"
## Expected Behavior

Tests should be using [python testing best practices](https://docs.python-guide.org/writing/tests/).

One popular framework is `pytest`: https://docs.pytest.org/en/7.2.x/ as it comes with:
- automated test discovery
- and a rich ecosystem of plugins: https://docs.pytest.org/en/7.2.x/reference/plugin_list.html#plugin-list (including things like https://pypi.org/project/pytest-